header .navbar{
    margin: 25px 0px 0px 0px; 
}
header .input-group{
    width: 30%;
}
header .mb-3, .my-3 {
    margin-bottom: 0rem!important;
}

footer .navbar{
    margin: 0px 0px 0px 0px;
}
footer li {
    list-style-type:none;
}
footer p {
    margin-top: 16px;
}
.btn-outline-success{
    color:#00b5ad;
    background-color:transparent;
    background-image:none;
    border-color:#00b5ad}

.btn-outline-success:hover{
    color:#fff;
    background-color:#00b5ad;
    border-color:#00b5ad}
    
.btn-outline-success.focus,
.btn-outline-success:focus{
    box-shadow:0 0 0 .2rem rgba(0, 181, 173,.5)}

.btn-outline-success.disabled,
.btn-outline-success:disabled{
    color:#00b5ad;
    background-color:transparent}

    .btn-outline-success:not(:disabled):not(.disabled)
    .active,
    .btn-outline-success:not(:disabled):not(.disabled):active,
    .show>.btn-outline-success
    .dropdown-toggle{
        color:#fff;
        background-color:#00b5ad;
        border-color:#00b5ad}

.mt-5,.my-5{margin-top:1rem!important}

.pdr-0{padding-right: 0px}
.pdl-0{padding-left: 0px}

hr{border-color:#00b5ad}
.search{padding:50px}


.splash img { width: 100%} /*alle img in Splash */
.splash { height: 200px; overflow: hidden;}

.fhbutton1, .fhbutton2 {
    background-color: rgb(0, 177, 172); 
    border: none;
    color: white;
    border-radius: 6px;
}

.fhbutton1:hover, .fhbutton2:hover {
    background-color: White;
    color: rgb(0, 177, 172);
    border-radius: 6px;
}

a, h1,h2,h3 { color: rgb(0, 177, 172); }

nav li a{border-right:1px solid #00b5ad; color:#00b5ad}
nav a.last{border-right:0px do