################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/DBWT/.vs
/DBWT/bin/DBWT.dll
/DBWT/bin/DBWT.pdb
/DBWT/obj\Debug/