################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

docker-data/**

/VS/VS
/VS/.vs/VS/v15
/VS
/VS-Desktop
/.vs
/VisualStudio/.vs/VisualStudio/v15/Server/sqlite3/storage.ide-wal
/VisualStudio/.vs/VisualStudio/v15/Server/sqlite3/storage.ide-shm
/VisualStudio/.vs/VisualStudio/v15/Server/sqlite3/storage.ide
/VisualStudio/.vs/VisualStudio/v15/Server/sqlite3/db.lock
/VisualStudio/.vs/VisualStudio/v15/.suo
/VisualStudio/VisualStudio/obj/VisualStudio.csproj.nuget.g.targets
/VisualStudio/VisualStudio/obj/VisualStudio.csproj.nuget.g.props
/VisualStudio/VisualStudio/obj/VisualStudio.csproj.nuget.cache
/VisualStudio/VisualStudio/obj/project.assets.json
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/VisualStudio.RazorAssemblyInfo.cs
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/VisualStudio.RazorAssemblyInfo.cache
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/VisualStudio.csprojAssemblyReference.cache
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/VisualStudio.csproj.CoreCompileInputs.cache
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/VisualStudio.assets.cache
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/VisualStudio.AssemblyInfoInputs.cache
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/VisualStudio.AssemblyInfo.cs
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/VisualStudio/VisualStudio/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/VisualStudio/VisualStudio/Pages/_ViewStart.cshtml
/VisualStudio/VisualStudio/Pages/_ViewImports.cshtml
/VisualStudio/VisualStudio/Pages/Shared/_ValidationScriptsPartial.cshtml
/VisualStudio/VisualStudio/Pages/Shared/_Layout.cshtml
/VisualStudio/VisualStudio/Pages/Shared/_CookieConsentPartial.cshtml
/VisualStudio/VisualStudio/Pages/Privacy.cshtml.cs
/VisualStudio/VisualStudio/Pages/Privacy.cshtml
/VisualStudio/VisualStudio/Pages/Index.cshtml.cs
/VisualStudio/VisualStudio/Pages/Index.cshtml
/VisualStudio/VisualStudio/Pages/Error.cshtml.cs
/VisualStudio/VisualStudio/Pages/Error.cshtml
/VisualStudio/VisualStudio/Pages/Contact.cshtml.cs
/VisualStudio/VisualStudio/Pages/Contact.cshtml
/VisualStudio/VisualStudio/Pages/About.cshtml.cs
/VisualStudio/VisualStudio/Pages/About.cshtml
/VisualStudio/VisualStudio/wwwroot/js/site.min.js
/VisualStudio/VisualStudio/wwwroot/js/site.js
/VisualStudio/VisualStudio/wwwroot/images/banner3.svg
/VisualStudio/VisualStudio/wwwroot/images/banner2.svg
/VisualStudio/VisualStudio/wwwroot/images/banner1.svg
/VisualStudio/VisualStudio/wwwroot/css/site.min.css
/VisualStudio/VisualStudio/wwwroot/css/site.css
/VisualStudio/VisualStudio/Properties/launchSettings.json
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/css/bootstrap.css
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.min.css.map
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.min.css
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css.map
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/LICENSE
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/js/npm.js
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/dist/js/bootstrap.js
/VisualStudio/VisualStudio/wwwroot/lib/bootstrap/.bower.json
/VisualStudio/VisualStudio/wwwroot/lib/jquery/LICENSE.txt
/VisualStudio/VisualStudio/wwwroot/lib/jquery/dist/jquery.min.map
/VisualStudio/VisualStudio/wwwroot/lib/jquery/dist/jquery.min.js
/VisualStudio/VisualStudio/wwwroot/lib/jquery/dist/jquery.js
/VisualStudio/VisualStudio/wwwroot/lib/jquery/.bower.json
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation/LICENSE.md
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation/dist/jquery.validate.js
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation/dist/additional-methods.js
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation/.bower.json
/VisualStudio/VisualStudio.sln
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
/VisualStudio/VisualStudio/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
/VisualStudio/VisualStudio/wwwroot/favicon.ico
/VisualStudio/VisualStudio/VisualStudio.csproj
/VisualStudio/VisualStudio/Startup.cs
/VisualStudio/VisualStudio/Program.cs
/VisualStudio/VisualStudio/appsettings.json
/VisualStudio/VisualStudio/appsettings.Development.json
