################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/DBWT/.vs
/DBWT/bin/DBWT.dll
/DBWT/bin/DBWT.pdb
/DBWT/obj\Debug/
DBWT/DBWT/bin/DBWT.pdb
DBWT/DBWT/bin/DBWT.dll
DBWT/DBWT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DBWT/DBWT/obj/Debug/DBWT.pdb
DBWT/DBWT/obj/Debug/DBWT.dll
DBWT/DBWT/bin/DBWT.dll
DBWT/DBWT/bin/DBWT.pdb
DBWT/DBWT/bin/DBWT.dll
DBWT/DBWT/bin/DBWT.pdb
DBWT/DBWT/obj/Debug/DBWT.csproj.CoreCompileInputs.cache
DBWT/DBWT/obj/Debug/DBWT.dll
*.pdb
DBWT/DBWT/obj/Debug/DBWT.pdb
DBWT/DBWT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DBWT/DBWT/bin/DBWT.dll
DBWT/DBWT/bin/DBWT.pdb
DBWT/DBWT/obj/Debug/DBWT.csproj.CoreCompileInputs.cache
DBWT/DBWT/obj/Debug/DBWT.dll
DBWT/DBWT/obj/Debug/DBWT.pdb
DBWT/DBWT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
