<!DOCTYPE html>
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Detail";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1>Details für "Falafel"</h1>
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-3">
        <form>
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="username" class="text-black">Benutzer:</label><br>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Benutzer">
                </div>
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="*******">
                </div>
                <input class="btn btn-outline-success btn-center" type="submit" value="Anmelden"><br />
            </fieldset>
        </form>
        <p>Melden Sie sich jetzt an, um die wirklich viel günstigeren Preise für Mitarbeiter oder Studenten zu sehen.</p>
    </div>
    <div class="col-7">
        <div class="row">
            <div class="col splash">
                <img src="img/Foodbanner.png" alt="Titelfoto Unten">
            </div>
        </div>
        <div class="row">
            <div class="col tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="descriptions-tab" data-toggle="tab" href="#descriptions" role="tab" aria-controls="descriptions" aria-selected="true">Beschreibung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="incredients-tab" data-toggle="tab" href="#incredients" role="tab" aria-controls="incredients" aria-selected="false">Zutaten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Bewertungen</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="descriptions" role="tabpanel" aria-labelledby="descriptions-tab">
                        Teigtasche mit Falafel aus Kichererbsen und Sesam, dazu passt hervorragend der <a href="Detail.cshtml">Krautsalat</a>
                    </div>
                    <div class="tab-pane fade" id="incredients" role="tabpanel" aria-labelledby="incredients-tab">
                        Zutaten des Gerichtes..
                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab" style="height: 150%">
                        <!--ToDo: Schöne Lösung-->
                        <form action="http://bc5.m2c-lab.fh-aachen.de/form.php" method="POST">
                            <div class="form-group">
                                <label for="benutzer">Benutzer</label>
                                <input type="text" name="benutzer" class="form-control" id="benutzer" placeholder="Max Mustermann">
                            </div>
                            <div class="form-group">
                                <label for="bewertung">Bewertung</label>
                                <select class="form-control" name="bewertung" id="bewertung">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="bemerkung">Bemerkung</label>
                                <textarea class="form-control" id="bemerkung" rows="3"></textarea>
                            </div>
                            <input type="hidden" name="matrikelnummer" value="3116496">
                            <input type="hidden" name="kontrolle" value="Sch">
                            <div class="input-group">
                                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <p class="text-end">
            <b>Gast-Preis</b><br />
            <b id="preis">5,95 &euro;</b>
        </p>
        <div class="input-group-append">
            <button class="btn btn-block btn-outline-success" type="submit"><i class="fas fa-utensils"> Vorbestellen</i></button>
        </div>
    </div>
</div>