@using System.Configuration
@using MySql.Data.MySqlClient;
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Produkte";
}
@{
    string conString = ConfigurationManager.ConnectionStrings["dbConStr"].ConnectionString;
    MySqlConnection con = new MySqlConnection(conString);
}
@functions
{
    class GerichtModel
    {
        public int ID { get; set; }
        public string Beschreibung { get; set; }
        public int Stock { get; set; }
        public bool Verfuegbar { get; set; }
    }
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-9">
        <h1>Verfügbare Speisen (Bestseller)</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3">
        <form>
            <fieldset>
                <legend>Speiseliste filtern</legend>
                <select class="form-control btn-outline-success">
                    <option selected> Kategorien</option>
                    <option> Option 1 </option>
                    <option> Option 2 </option>
                </select>
                <br />
                <input type="checkbox" name="name1" value="Verfügbar"><label class="choice ml-1">nur verfügbare</label><br />
                <input type="checkbox" name="name2" value="Vegetarisch"><label class="choice ml-1">nur vegetarische</label><br />
                <input type="checkbox" name="name3" value="Vegan"><label class="choice ml-1">nur vegane</label><br /><br />
                <input class="btn btn-outline-success btn-center" type="submit" value="Speisen filtern"><br />
            </fieldset>
        </form>
    </div>
    <div class="col-7">
        <div class="row">
            <!-- Obere Reihe der Speisen-->
            @{
                try
                {
                    con.Open();
                    MySqlCommand cmd;
                    cmd = con.CreateCommand();
                    cmd.CommandText = "SELECT * FROM products ORDER BY id Limit 4;";
                    MySqlDataReader r = cmd.ExecuteReader();

                    int count = 0;
                    while (r.Read() && count < 8)
                    {
                        var G = new GerichtModel
                        {
                            ID = Convert.ToInt32(r["id"]),
                            Beschreibung = r["description"].ToString(),
                            Stock = Convert.ToInt32(r["stock"]),
                            Verfuegbar = Convert.ToBoolean(r["available"])
                        };

                <div class="col-3">
                    @{
                                if (G.Verfuegbar)
                                {
                        <img title="Wok-Bild" class="square" alt="gericht" src="img/krautsalat.jpg" />
                        <p class="mb-0">@G.Beschreibung</p>
                        <a href="Detail.cshtml?id=@G.ID" class="mb-1">Details</a>
                                }
                                else
                                {
                        <img title="Wok-Bild" class="square unavailable" alt="gericht" src="img/krautsalat.jpg" />
                        <p class="mb-0">@G.Beschreibung</p>
                        <p>Vergriffen</p>
                                }
                    }
                </div>

                        // HIER: wenn count == 3 erreicht ist (also Vier gerichte erstellt wurden,
                        //dann sollte ein </div> zu gehen und eine neue <div class = "row"> Reihe aufgemacht werden
                        //(also die nächsten Vier Gerichte in  der nächsten Reihe...)

                        count++;
                    }
                    r.Close();
                }
                catch (Exception e)
                {
                <div class="col-12">
                    @*<img title="Wok-Bild" class="square unavailable" alt="gericht" src="" />*@
                    <p class="mb-0">@e.Message</p>
                </div>
                }
            }
        </div>
    </div>
    <div class="col-2">
    </div>
</div>