@using System.Configuration
@using MySql.Data.MySqlClient;
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Produkte";
}
@{
    //String qstring = Request.QueryString["meals"];
    String currurl = HttpContext.Current.Request.RawUrl; //z.B "/Produkte.cshtml?available=..."
    String QueryString = currurl.Substring(currurl.IndexOf('?') + 1); //z.b. "available=..."
    Boolean available;
    Boolean vegetarian;
    Boolean vegan;

    var res = HttpUtility.ParseQueryString(QueryString).Get("available");
    available = (res == "true");
    res = HttpUtility.ParseQueryString(QueryString).Get("vegetarian");
    vegetarian = (res == "true");
    res = HttpUtility.ParseQueryString(QueryString).Get("vegan");
    vegan = (res == "true");
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-9">
        <h1>Verfügbare Speisen (Bestseller)</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3">
        <form>
            <fieldset>
                <legend>Speiseliste filtern</legend>
                <select class="form-control btn-outline-success">
                    <option selected> Kategorien</option>
                    <option> Option 1 </option>
                    <option> Option 2 </option>
                </select>
                <br />
                @Helper.CreateCheckbox("available", "nur verfügbare", available)
                @Helper.CreateCheckbox("vegetarian", "nur vegetarische", vegetarian)
                @Helper.CreateCheckbox("vegan", "nur vegane", vegan)
                <input class="btn btn-outline-success btn-center" type="submit" value="Speisen filtern"><br />
            </fieldset>
        </form>
    </div>
    <div class="col-7">
        <div class="row">
            <!-- Obere Reihe der Speisen-->
            @Helper.ProductHelper(available, vegetarian, vegan)
        </div>
    </div>
    <div class="col-2">
    </div>
</div>