@using System.Configuration
@using MySql.Data.MySqlClient;
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Zutaten";
}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Zutat</th>
                @*<th>Beschreibung</th>*@
                <th>Vegetarisch?</th>
                <th>Vegan?</th>
                <th>Glutenfrei?</th>
            </tr>
        </thead>
        <tbody>
            @Helper.DrawIncredients();
        </tbody>
    </table>
</div>