@{
    ViewBag.Title = "Login";
}
@if (ViewBag.LoginSuccess == true)
{
    @Html.Partial("_LoggedIn")
}
else
{
    <div class="row vertical-offset-md-1">
        @Html.Partial("_LogInFormula")
        <div class="col-md-6">
            <p>Beispieluser</p>
            <ul>
                <li>bugfin 1234 (student)</li>
                <li>dot testing (employee)</li>
                <li>bkahuna s3cr3tz (guest)</li>
            </ul>
        </div>
    </div>
}