<div class="col-3">
    <p>Sie sind angemeldet! </p>
    <p>Loginname = @Session["user"]</p>
    <p>Rolle = @Session["role"]</p>
    <a href="/User/Logout" class="btn btn-outline-success btn-secondary btn-block mr-5">
        <p class="button_filter text-center" role="button">Abmelden</p>
    </a>
</div>